@font-face {
    font-family: lasco;
    src: url(../fonts/lasco.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
	font-family: lasco;
}

#title {
	display: block;
	text-align: center;
	color: #5A5A5A;
}

#game {
	position: relative;
}

#game div {
	position: absolute;
}

.left {
	width: 280px;
	padding: 0px 10px;
}

#selectLevel {
	width: 100px;
}

.center {
	left: 300px;
	right: 300px;
}

#level {
	display: block;
	margin: 0 auto;
}

.right {
	width: 280px;
	padding: 0px 10px;
	right: 0px;
}